<app-header></app-header>
<h1 id="pocetna">O Nama</h1>


<div class="img-with-text">
  <img src="assets/img/bojanastajic.jpg" alt="sometext" />
  <p> Bojana Stajić, osnivačica i direktorica firme, rođena je 27.12.2001. u Loznici, u Srbiji. Po zanimanju je
    softverski inženjer i po njenim sopstvenim rečima "ogroman fan umetnosti uopšte".</p>
</div>
<br />

<div class="img-with-text">
  <img src="assets/img/Abel.jpg" alt="sometext" />
  <p> Abel Tesfaye ili poznatiji pod umetničkim imenon The Weeknd rođen je 16.2.1990 u Torontu, u Kanadi. Svetski
    je
    poznat muzičar i dobitnik Gremija a u Planet Bojana radi kao savetnik za muzicki smek dodat svakom jelu.
    </p>
</div>
<br>
<br>
<br>

<app-footer></app-footer>
