<head>
  <meta charse="utf-8">
  <title>Planet Bojana</title>

  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>



  <div class="topnav">
    <ul class="prt1">
      <li class="nav-item">
         <a class="active" [routerLink]="['/pocetna']">Početna</a>
         <a *ngIf="!user.ime" [routerLink]="['/registruj']" >Registruj se</a>
          <a *ngIf="!user.ime" class='logo' [routerLink]="['/login']" >Login</a>


      </li>
  </ul>
  <ul class="prt2">

      <li><a [routerLink]="['/restorani']">Restorani</a></li>
      <li><a [routerLink]="['/kontakt']">Kontakt</a></li>
      <li><a [routerLink]="['/onama']">O Nama</a></li>
      <li><a *ngIf="user.admin === 1"  [routerLink]="['/dodaj']">Dodaj Restoran</a></li>
      <li><a *ngIf="user.ime"  [routerLink]="['/orders']">Rezervacije</a></li>
      <li><a *ngIf="user.admin === 1" [routerLink]="['/korisnici']">Korisnici</a></li>
      <li> <a *ngIf="user.admin == 0" class='logo' (click)="logOut()" [routerLink]="['']"
        >Odjavi se,
          {{user.ime}}</a></li>
<li>
  <a *ngIf="user.admin == 1" class='logo' (click)="logOut()" [routerLink]="['']"
      >Odjavi se,
      {{user.ime}} [ADMIN]</a></li>
  </ul>
  </div>

  </body>
